In [1]:
import pandas as pd
import numpy as np

In [2]:
data_filepath = "../data/cdata.csv"
data = pd.read_csv(data_filepath)

In [3]:
data.head()

,Run,Event,E1,px1,py1,pz1,pt1,eta1,phi1,Q1,...,pz2,pt2,eta2,phi2,Q2,M,T_E,T_p1,T_p2,T_p
0,147115,366639895,58.71410,-7.31132,10.531000,-57.29740,12.82020,-2.20267,2.17766,1,...,-11.0778,2.14537,-2.344030,-2.072810,-1,8.94841,69.99770,58.714133,11.283628,69.423433
1,147115,366704169,6.61188,-4.15213,-0.579855,-5.11278,4.19242,-1.02842,-3.00284,-1,...,11.4647,12.75360,0.808077,2.734920,1,15.89300,23.76108,6.611878,17.149193,17.663530
2,147115,367112316,25.54190,-11.48090,2.041680,22.72460,11.66100,1.42048,2.96560,1,...,-15.5888,2.69667,-2.455080,2.148570,1,38.38770,41.36220,25.541867,15.820325,15.401734
3,147115,366952149,65.39590,7.51214,11.887100,63.86620,14.06190,2.21838,1.00721,1,...,24.6563,4.84272,2.330210,0.565865,-1,3.72862,90.52320,65.395924,25.127377,90.446476
4,147115,366523212,61.45040,2.95284,-14.622700,-59.61210,14.91790,-2.09375,-1.37154,-1,...,-13.6708,2.44145,-2.423700,-1.684810,-1,2.74718,75.33750,61.450347,13.887097,75.287343

In [4]:
data.describe()

,Run,Event,E1,px1,py1,pz1,pt1,eta1,phi1,Q1,...,pz2,pt2,eta2,phi2,Q2,M,T_E,T_p1,T_p2,T_p
count,99892.000000,9.989200e+04,99892.000000,99892.000000,99892.000000,99892.000000,99892.000000,99892.000000,99892.000000,99892.000000,...,99892.000000,99892.000000,99892.000000,99892.000000,99892.000000,99892.000000,99892.000000,99892.000000,99892.000000,99892.000000
mean,147935.537871,4.957532e+08,36.459695,0.136384,0.183445,-1.512384,14.417882,-0.064220,0.021958,-0.005466,...,-1.590087,13.805510,-0.072900,0.021667,-0.004265,30.020882,80.490397,36.459695,44.030702,70.000415
std,920.341884,4.038182e+08,41.223335,13.408913,13.475059,51.623350,12.391571,1.462644,1.799509,0.999990,...,61.457682,12.464594,1.738682,1.816894,0.999996,25.255932,57.369319,41.223335,46.763373,57.712874
min,146511.000000,6.414000e+03,0.377928,-250.587000,-126.079000,-840.987000,0.219629,-4.165380,-3.141580,-1.000000,...,-655.396000,0.026651,-7.064790,-3.141580,-1.000000,2.000080,3.314210,0.377929,0.472501,0.489089
25%,147114.000000,2.023211e+08,8.471438,-5.236865,-5.282197,-15.899575,3.773227,-1.284752,-1.526615,-1.000000,...,-22.062375,3.738480,-1.893003,-1.556020,-1.000000,12.445850,37.784575,8.471436,11.069557,27.494571
50%,147929.000000,3.902596e+08,21.740300,0.141563,0.100481,-0.313852,12.972400,-0.061568,0.035074,-1.000000,...,-0.694057,11.692300,-0.136785,0.027410,-1.000000,21.284100,70.200055,21.740299,25.292402,56.197091
75%,149011.000000,6.340891e+08,50.063975,5.719105,5.652223,13.231550,20.026275,1.145393,1.562642,1.000000,...,19.045400,19.602000,1.769330,1.596837,1.000000,39.028550,105.656275,50.063980,66.984729,95.270730
max,149182.000000,1.791247e+09,850.602000,134.539000,147.467000,760.096000,265.578000,2.622970,3.141420,1.000000,...,935.558000,281.654000,3.060550,3.141290,1.000000,109.999000,951.778680,850.601871,948.374188,950.887218

# Linear Regression Model using Matrix Operations

In [6]:
# split the predictors and the target variable in the data
y = data["M"]
x = data.drop(columns=["M", "Run", "Event"], axis=1)

In [22]:
# train-test split
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [23]:
x_train.shape

(69924, 20)

In [24]:
# Prepend 1 to each row of the predictors array
ones_column_train = np.ones((x_train.shape[0], 1))
ones_column_test = np.ones((x_test.shape[0], 1))
x_train = np.hstack([ones_column_train, x_train])
x_test = np.hstack([ones_column_test, x_test])

In [25]:
x_train.shape, x_test.shape

((69924, 21), (29968, 21))

In [26]:
# Transpose x which is a 99892x21 matrix into a 21x99892 matrix
xTransposed = np.transpose(x_train)

In [27]:
# Calculate the beta column vector
beta = np.linalg.pinv(xTransposed.dot(x_train)).dot(xTransposed).dot(y_train)

In [28]:
beta

array([ 3.47881079e-01, -3.21495170e+02,  3.09786938e-03,  1.07342502e-02,
        3.74533089e-03,  2.09004449e-01, -6.45120962e-03, -6.31688405e-02,
        5.95928460e-03,  1.11104253e+02, -2.58386501e-04,  2.82537770e-03,
       -1.65147081e-03,  9.30741080e-02,  1.58851616e-01, -3.43063384e-02,
       -7.72150289e-03, -2.10273098e+02,  5.33208979e+02,  1.00651137e+02,
       -1.31986578e+00])

In [29]:
# Calculate predictions for the target variable
yPredictions = x_test.dot(beta)

In [30]:
yPredictions[:5]

array([ 11.06076664,  23.98482976,   5.58506511, 114.28784963,
         4.88629418])

In [31]:
# Real values of target variable
y_test[:5]

72156    11.77330
42278    24.99360
14415     2.08228
66233    88.09680
8991      4.83112
Name: M, dtype: float64

In [35]:
ae_series = np.abs(yPredictions - y_test)
se_series = np.square(yPredictions - y_test)
mae = ae_series.mean()
mse = se_series.mean()
rmse = np.sqrt(mse)

In [36]:
print(f"Mean squared error: {mse};\nRoot Mean Squared Error: {rmse};\nMean Absolute Error: {mae}.")

Mean squared error: 85.60264153028041;
Root Mean Squared Error: 9.252169558016131;
Mean Absolute Error: 6.303457291997952.